h2,p{
	color: #AA4139;
	border: 5px solid rgba(255,176,170,0.5);
	cursor: pointer;
	text-align: center;
	font-family: 'Mali', cursive;
}
li{
	list-style: none;
	display: inline-block;
}
img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
p{
	color: pink ;
}
p{
	color: green ;
}
body{
	background-image: url(https://images.unsplash.com/photo-1539611489787-139b48f2f591?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f3ed39673c50920b6338b48be0b9b9c&auto=format&fit=crop&w=500&q=60);
/*background-size: cover;*/

}
.webtext :last-child{
	border: 5px dashed red;
}
.active{
	color: red;
}
#div1{
	background: rgba(0, 0 ,255, .2);
}
#div2{
	background: rgba(255, 0 ,0, .2);
}
img{
	float: right;
}
footer{
	clear: both; 
	text-align: center;
}
img{
  transition:all 1s;
 } 
 img:hover{
  transforms:scale(1.1);
}
